<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
	<title>Food Donation</title>
</head>
<body style="background-image:url('{% static 'images/background.jpg' %}');">
  {% include "navbar.html" %}
<br /><h3 align="center">
	<font face="Lato" size="6">LOGO</font>




</h3>
<br /><br /><br /><br /><br />
<h1 align="center">
	<font face="Lato" color="#017bf5" size="7">
		SHARING IS CARING

	</font>
</h1>
<h3 align="center">
	<font face="Lato" color="#000" size="5">
		SHARE YOUR EXTRA FOOD FOR THE NEEDY
	</font>
</h3>
<br />
<h3 align="center">
	<a href="#">
		<font face="Lato" color="red">GET STARTED</font>
	</a>&nbsp;&nbsp;&nbsp;
	<a href="#">
		<font face="Lato" color="green">SUBSCRIBE US</font>
	</a>
</h3>
</body>
</html>